@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply bg-surface-0 text-gray-200 font-mono antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-surface-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface-3 rounded;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}

@layer utilities {
  .text-streaming::after {
    content: "▋";
    @apply animate-blink text-brand-blue ml-0.5;
  }
}
